<div class="row sidebar-header">
    <div class = "col-md-12">
        <a href ="/dashboard">
            <span class="
            <% if( sidebar_selected === 'header'){ %>
             sidebar-header-selected
            <% } %>">Dashboard</span>
        </a>
    </div>
</div>

<a href ="/dashboard/payment">
    <div class="row sidebar-item
        <% if( sidebar_selected === 'payment'){ %>
             sidebar-selected
        <% } %>">
            <div class = "col-md-12">
                Payment Info
            </div>
    </div>
</a>