<table class="table-condensed table">
  <% Object.keys(output).forEach(function(key) { %>
    <tr style="border-bottom:1px solid">
      <td> <%= deCamelCaser(key) %> </td>
      <td> <%= output[key] %> </td>
    </tr>
  <% }); %>
</table>