<div class ="container-fluid">
  <div class="row">

    <div class="col-md-2" >
      <% include ../../../partials/_dashboard_left_panel %>
    </div>

  <div class="col-md-9">
  <h4> Add a card </h2>
  <% include ./_stripe_add_card_form %>



  </div>
  </div>
</div>
