<div class ="container-fluid">
    <div class="row">

          <div class="col-md-2" >
            <% include ../../../partials/_dashboard_left_panel %>
          </div>

        <div class="col-md-3">
          <% include ../../../partials/_output_info %>
        </div>
    </div>

    <div class="row">
       <div class="col-md-2 col-md-offset-2">
          <a class="btn btn-success" href="/dashboard/payment/add" role="button">
           Test Button
          </a>
      </div>
    </div>