<div class ="container-fluid">
  <div class="row">

        <div class="col-md-2" >
          <% include ../../../partials/_dashboard_left_panel %>
        </div>

      <div class="col-md-7">
      <caption>Your Cat Facts recipients:</caption>

        <% include ../../../partials/_array_of_json_output %>
      </div>

      <div class = "col-md-2">
        <% include ./_add_recipient_form %>
      </div>
  </div>
</div>
