<div class ="container-fluid">
  <div class="row">

    <div class="col-md-2" >
      <% include ../../../partials/dashboard_left_panel %>
    </div>

    <div class="col-md-5">

      <table>
        <% Object.keys(userAccount).forEach(function(key) { %>
          <tr>
            <td> <%= deCamelCaser(key) %> </td>
            <td> <%= userAccount[key] %> </td>
          </tr>
        <% }); %>
      </table>
    </div>
  </div>


 <div class="row">

   <div class="col-md-2 col-md-offset-2">
     <form action="/dashboard/account/add" method="post">
        <input type="hidden" name="charge_amt" value="100">
        <button type="submit" class="btn btn-success">Add 1$ (50 messages)</button>
    </form>
  </div>

  <div class="col-md-2">
    <form action="/dashboard/account/add" method="post">
      <input type="hidden" name="charge_amt" value="500">
      <button type="submit" class="btn btn-success"> Add 5$ (250 messages)</button>
    </form>
  </div>

  <div class="col-md-2">
    <form action="/dashboard/account/add" method="post">
      <input type="hidden" name="charge_amt" value="1000">
      <button type="submit" class="btn btn-success"> Add 10$ (500 messages)</button>
    </form>
  </div>
</div>

</div>